@import "tailwindcss";
@import "tailwindcss/theme" theme(reference);
@source "./components";

@theme {
  --font-display: "Clash Display", sans-serif;
  --font-main: "Satoshi", sans-serif;

  --color-background: var(--bg-main);
  --color-foreground: var(--text-main);
  --color-card: var(--bg-card);
  --color-muted: var(--bg-card-hover);
  --color-muted-foreground: var(--text-muted);
  --color-primary: var(--accent-red);
  --color-primary-foreground: #fff;
  --color-secondary: var(--bg-card-hover);
  --color-secondary-foreground: var(--text-main);
  --color-border: var(--border-color);
  --color-success: #10b981;
}
